{% extends "base.html" %} {% block content %}
<h1>Sam Cutler</h1>
<h2>Interested secure software for journalism (mostly)</h2>
<p>
    I currently work at
    <a href="https://theguardian.com">The Guardian</a> making tools for
    investigative journalists and occasionally
    <a href="https://www.theguardian.com/profile/sam-cutler">get involved</a> in
    the journalism directly.
</p>

<p>This is stuff I've done</p>
<h2>
    <a href="/posts">Blog posts</a>
</h2>

{% set posts_section = get_section(path="posts/_index.md") %} {% for post in
posts_section.pages %}
<article>
    <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
    <time>{{ post.date }}</time>
    {% if post.description %}
    <p>{{ post.description }}</p>
    {% endif %}
</article>
{% endfor %} {% endblock content %}
